 Q1) What are data structures, and why are they important?

 Ans: way of organizing and storing data so that it can be accessed and manupilated efficiently is called data structure.

this are important because manages the data efficiently , have improved performance,scalability , problem solving access , code readability and maintanability.

Q2) Explain the difference between mutable and immutable data types with examples?

Ans:mutable data types means - in which elements can be added, removed , edited , inserted etc . example - list

immutable data types mesans - in which elements can not be changed. example tuples

Q3) What are the main differences between lists and tuples in Python?

Ans: the main difference between list and tuples are
lists are mutable and non orderd where as tuples are immutable and orderd.

Q4)  Describe how dictionaries store data?

Ans: Dictionary is the data structutre that stores data in the form of key and its value where keys are immutable and unique

basically dictionary is unordered but from python 3.7 it retains the order of insertion that means if you iterate the dictionary the items  will returned in the order they were added.

there will be two parts in dictionary one is key and other is value they are seperate by ':' symbol.


Q5)  Why might you use a set instead of a list in Python?

Ans: we use set instead of list to remove duplicates and when need efficient data , sets support unique operations like union, difference which modifies the data efficiently with less time consumption.

 Q6)  What is a string in Python, and how is it different from a list?

Ans: string is a sequence of charecter like numbers , letters and symbols enclosed in quotes ( single , double  or triple quotes ). strings are immutable means there content can not be modified once created.

where as lists are mutable we can modify the content of list after creation and need no be enclosed in quotes.

Q7) How do tuples ensure data integrity in Python?

Ans: Tuples ensure data integrity in Python by being immutable, preventing unintended changes, and ensuring data consistency. This makes tuples a valuable tool for storing constant data, ensuring thread safety, and improving code reliability.

Q8)  What is a hash table, and how does it relate to dictionaries in Python?

Ans: A hash table (also known as a hash map or dictionary) is a data structure that stores key-value pairs in an array using a hash function to map keys to indices of the array. The hash function takes a key as input and generates a hash code, which is used to determine the index at which the corresponding value is stored.

Dictionaries in Python are implemented as hash tables, making them a powerful tool for storing and retrieving data.

Q9)  Can lists contain different data types in Python ?

Ans: yes, since list are heterogenous data structure it can store different types data like strings , integers , boolean , float , another list in a list , tuples etc.

Q10) Explain why strings are immutable in Python?

Ans: strings are immutable in Python due to memory efficiency, thread safety, security, and hashability considerations. This immutability provides several benefits, including code reliability, performance, and simplified development.

Q11)  What advantages do dictionaries offer over lists for certain tasks?

Ans: Dictionaries are preferred when working with large amounts of data where as lists cant be manages by large data and the primary advantage of dictionaries would be retriving stored values as it is much simpler to search through a dictionary.

Q12)  Describe a scenario where using a tuple would be preferable over a list?

Ans: A scenario for using tupeles over a list could be storing the adhar or pan information where every individul will be having there own information which needs to be stored with out allowing mutation where as hence lists are mutable confidential data can not be stored in lists.

Q13)  How do sets handle duplicate values in Python?

Ans: Sets wont allow duplicates to execute it will cancel the double index and consider that perticualr element as single. by removing duplicates it allows set operations to be executed.

Q14)  How does the “in” keyword work differently for lists and dictionaries?

Ans:For lists, the "in" keyword checks if a value is present in the list. It searches through the list and returns True if the value is found, and False otherwise.

For dictionaries, the "in" keyword checks if a key is present in the dictionary. It searches through the dictionary's keys and returns True if the key is found, and False otherwise.

Q15)  Can you modify the elements of a tuple? Explain why or why not.

Ans: No we can not modify the elements of a tuple why because tuples are immutable.

Q16)  What is a nested dictionary, and give an example of its use case?

Ans: A nested dictionary is a dictionary that contains another dictionary as its value. This allows for complex data structures and hierarchical organization of data.

Q17)  Describe the time complexity of accessing elements in a dictionary?

Ans: The time complexity of accessing elements in a dictionary in Python is typically O(1), making dictionaries a fast and efficient data structure for data storage and retrieval.

Q18)  In what situations are lists preferred over dictionaries?

Ans: lists are preferred over dictionaries when data order matters, index-based access is required, or dynamic data needs to be stored and updated frequently.

Q19)  Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans: Prior to Python 3.7, dictionaries were considered unordered because they did not maintain the insertion order of key-value pairs. This was due to the way dictionaries were implemented, using a hash table data structure.

However, in Python 3.7 and later, dictionaries maintain the insertion order of key-value pairs, making them more predictable and useful in certain situations.

Q20) Explain the difference between a list and a dictionary in terms of data retrieval?

Ans:  lists and dictionaries differ significantly in terms of data retrieval, with lists using index-based access and dictionaries using key-based access. Understanding these differences is essential for choosing the right data structure for your specific use case.

##PRACTICAL QUESTIONS

Q1) Write a code to create a string with your name and print it?

Ans:

In [ ]:
print("name:\t\tBhagyashree")

name:		Bhagyashree

Q2)  Write a code to find the length of the string "Hello World"?

Ans:

In [ ]:
a = ("hello world")
print(a)

hello world

In [ ]:
len(a)

11

Q3)  Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
a = "python programming"
print(a[0:3])

pyt

Q4) Write a code to convert the string "hello" to uppercase?

In [ ]:
a = "hello"
print(a.upper())

HELLO

Q5)  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
a = ("i like apple")
b = a.replace("apple" , "orange")
print(b)

i like orange

Q6) Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
l1 = (1 ,2 , 3 , 4 , 5)
print(l1)

(1, 2, 3, 4, 5)

Q7)  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

Q8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
my_list=[1,2,3,4,5]
my_list .remove(3)
print(my_list)

[1, 2, 4, 5]

Q9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
my_list = ['a','b','c','d']
second_element = my_list[1]
print(second_element)

b

Q10) Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

Q11) Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
t1 = [100,200,300]
print(t1)

[100, 200, 300]

Q12)  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t1 = ['red','green','blue','yellow']
t1[1:4]
print(t1[1:4])

['green', 'blue', 'yellow']

Q13) Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
t1 = [10,20,5,15]
print(min(t1))

5

Q14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
t1 = ['dog','cat','rabbit']
t2 = t1.index ('cat')
print(t2)

1

Q15)  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
t1 = ['mango','kiwi','orange']
print('kiwi' in t1)

True

Q16)  Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
s1 = {'a','b','c'}
print(s1)

{'a', 'b', 'c'}

Q17) . Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s1 = {1,2,3,4,5}
s1.clear()
print(s1)

set()

Q18)  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s1 = {1,2,3,4}
s1.remove(4)
print(s1)

{1, 2, 3}

Q19)  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [1]:
set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

Q20)  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [2]:
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

Q21)  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [3]:
d1 = {"name" : "bhagyashree" , "age" : 20 , "city" : "kolhapur"}
print(d1)

{'name': 'bhagyashree', 'age': 20, 'city': 'kolhapur'}

Q22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [4]:
d1 = {'name' : 'jhon', 'age' : 25}
d1['country'] = 'USA'
print(d1)

{'name': 'jhon', 'age': 25, 'country': 'USA'}

Q23)  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [5]:
d1 = {'name' : 'alice' , 'age' : 30}
print(d1['name'])

alice

Q24)  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [11]:
d1 = {'name' : 'bob' , 'age' : '22' , 'city' : 'new york'}
del d1['age']
print(d1)

{'name': 'bob', 'city': 'new york'}

Q25)  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [12]:
d1 = {'name' : 'alice' , 'city' : 'paris'}
print('city' in d1)

True

Q26)  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [13]:
l1 = ( 1, 2, 3, 4)
print(l1)

(1, 2, 3, 4)

In [14]:
t1 = { 1, 2, 3, 4}
print(t1)

{1, 2, 3, 4}

In [15]:
d1 = { "name" : "bhagyashree" , "age" : 20 , "city" : "kolhapur"}
print(d1)

{'name': 'bhagyashree', 'age': 20, 'city': 'kolhapur'}

Q27) Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)

In [20]:
l1 = (20 , 10 , 40 , 30)
print(l1)

(20, 10, 40, 30)

In [18]:
sorted(l1)

[10, 20, 30, 40]

Q28) Write a code to create a list with strings and print the element at the third index.

In [22]:
l1 = ('apple' , 'orange' , 'mango' , 'banana' , 'watermelon')
print(l1[3])

banana

Q29)  Write a code to combine two dictionaries into one and print the result.

In [24]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30) Write a code to convert a list of strings into a set

In [25]:
l1 = ('apple' , 'orange' , 'mango' , 'banana' , 'watermelon', 'orange' , 'banana')
print(set(l1))

{'apple', 'orange', 'watermelon', 'banana', 'mango'}